<table  width="960" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ededed">
    <tbody>
        <tr>
            <td>
                <table  cellpadding="0" cellspacing="0" width="95%" border="0" align="center" style="margin-top:36px;overflow:hidden;border: 2px solid #d3d3d3;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;">
                    <tbody>
                    <% for(var i=0; i<data.edmData.length; i++){ %>
                    <tr>
                        <td width="33" bgcolor="#fff"></td>
                        <td  bgcolor="#fff" colspan="2" style="padding:31px 0 27px 0;border-bottom:1px dashed #d3d3d3;font-size:24px;font-family: 'Microsoft YaHei';color:#545454;">
                            <span style="font-size:30px;font-family: 'Microsoft YaHei';font-weight:bold; color:#454545;"><%= data.edmData[i].posi %></span><br><br>
                            <span><%= data.edmData[i].addr %></span>
                            <font>|</font>
                            <span><%= data.edmData[i].workTime %></span>
                            <font>|</font>
                            <span><%= data.edmData[i].edu %></span>
                        </td>
                        <td style="padding-right:10px;border-bottom:1px dashed #d3d3d3;font-family: 'Microsoft YaHei';font-size:30px;font-weight: bold;color:#f9a226;" align="right" bgcolor="#fff">
                            <%= data.edmData[i].partTime %>
                        </td>
                        <td width="36" bgcolor="#fff"></td>
                    </tr>
                    <% } %>
                    <tr>
                        <td width="36" bgcolor="#fff"></td>
                        <td bgcolor="#fff" width="314" height="92" style="padding: 20px 28px 27px 0">
                            <img src="<%= data.stockCodeData.img %>" alt="<%= data.stockCodeData.alt %>" width="314" height="92">
                        </td>
                        <td bgcolor="#fff" valign="middle" style="color:#949494;font-size:30px;font-weight:bold;font-family: 'Microsoft YaHei';">
                            <font style="margin-right:24px; border-left: 4px solid;display: inline-block;height:54px;vertical-align: middle;"></font>
                            <span style="display: inline-block;vertical-align: middle;"><%= data.stockCodeData.alt %></span>
                        </td>
                        <td width="80" bgcolor="#fff"></td>
                        <td width="36" bgcolor="#fff"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
