<div class="company" align="center">
    <p class="title-cn"><%= data.aboutusData.box1.title %></p>
    <p class="title-en"><%= data.aboutusData.box1.en %></p>
    <span class="title-rect"></span>
    <p class="title-info"><%= data.aboutusData.box1.txt %></p>
    <div class="company-info clearfix">
        <div class="img-box fl">
            <img src="images/aboutus/<%= data.aboutusData.box1.src%>" alt="51金融圈">
        </div>
        <div class="txt-box fr">
            <p><%= data.aboutusData.box1.para%></p>
        </div>
    </div>
</div>