<div class="talent">
    <div class="box-title" align="center">
        <img src="images/join/t01.jpg" alt="人才招聘">
    </div>
    <div class="box-content">
        <ul>
            <% for(var i=0; i<data.joinUsData.length; i++){ %>
            <li class="job-box">
                <div class="row01 clearfix">
                    <div class="jobname fl">
                        <b></b>
                        <span><%= data.joinUsData[i].name %></span>
                        <a href="<%= data.joinUsData[i].href %>">
                            <img src="images/join/go.png" alt="投递简历" class="go">
                        </a>
                    </div>
                    <div class="job-info fr">
                        <span>学历：<%= data.joinUsData[i].degree %></span><b>|</b><span>工作年限：<%= data.joinUsData[i].worktime %></span><b>|</b><span>意向：<%= data.joinUsData[i].jobtime %></span><b>|</b><span>工作地点：<%= data.joinUsData[i].site %></span>
                    </div>
                </div>
                <div class="row02">
                    <h4>岗位职责：</h4>
                    <ul>
                    <% for(var j=0;j<data.joinUsData[i].duty.length; j++){ %>
                    <li><%= data.joinUsData[i].duty[j] %></li>
                    <% } %>
                    </ul>
                    <h4>岗位要求：</h4>
                    <ul>
                    <% for(var k=0;k<data.joinUsData[i].ask.length; k++){ %>
                    <li><%= data.joinUsData[i].ask[k] %></li>
                    <% } %>
                    </ul>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</div>