<div class="recruit">
    <div class="title-top">
        <h2>加入我们</h2>
        <h3>join galaxy world</h3>
    </div>
    <div class="box-content">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <% for(var i=0; i<data.joinUsData.length; i++){ %>
                <div class="swiper-slide">
                    <div class="job-box">
                        <h3><%= data.joinUsData[i].name %></h3>
                        <h4>职位描述：</h4>
                        <% for(var j=0;j<data.joinUsData[i].duty.length; j++){ %>
                        <p><%= j+1 %>.<%= data.joinUsData[i].duty[j] %></p>
                        <% } %>
                        <h4>任职资格：</h4>
                        <% for(var k=0;k<data.joinUsData[i].ask.length; k++){ %>
                        <p><%= k+1 %>.<%= data.joinUsData[i].ask[k] %></p>
                        <% } %>
                        <div class="img-box" align="center">
                            <a href="<%= data.joinUsData[i].href %>">
                                <img src="images/joinus/go.png" alt="立即投递">
                            </a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<script src="vendor/swiper/dist/js/swiper.jquery.js"></script>
<script src="vendor/swiper/dist/js/swiper.js"></script>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        //设定初始化时slide的索引
        initialSlide : 1,
        //设置为true时，鼠标覆盖Swiper时指针会变成手掌形状，拖动时指针会变成抓手形状。
        grabCursor : true,
        loop: true,
        // 如果需要前进后退按钮
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        pagination: '.swiper-pagination',
        paginationClickable :true,
    })
</script>
